@import "~common/styles/variables";

/* outer container */
.container {
  padding: 0;
  margin: 0;
  height:100%;
  width:100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* center floating panel */
.panel{
  background-color:$color-lightest;
  position:relative;
  width:calc(100% - 120px);
  max-width:calc(100% - 80px);
  height:calc(100% - 200px);
  max-height:680px;

  transition: all 250ms;
  box-shadow: 2px 0px 10px rgba(50, 50, 50, .50);

  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;
  flex: 0 1 1280px;
}

.imageBox{
  position:relative;
  display:inline-block;
  width:40%;
  height:100%;
}

.image{
  position:absolute;
  top:0;
  bottom:0;
  display:block;
  margin:auto;
  border:1px solid $brand-primary;
}

.detailsBox{
  position:relative;
  display:inline-block;
  width:60%;
}

.detail{
  padding:0 20px 20px 20px;

  &:first-child{
    padding-top:20px;
  }
}

.detailTitle{
  margin:0;
  font-size:18px;
  color:$brand-primary;
}

.detailTextBox{
  max-height:300px;
  overflow-y: scroll;
}

.close{
  position: absolute;
  display:inline-block;
  background-color: $brand-primary;
  cursor:pointer;
  color:$color-lightest;
  top:0px;
  right:0px;
  height:30px;
  width:30px;
  text-align: center;
  font-size: 16px;
  z-index: 99;
  transition: background-color 150ms;

  &:hover{
    background-color: lighten($brand-primary, 20%);
  }
}
