@import "~common/styles/variables";

/* outer container */
.container {
  padding: 0;
  margin: 0;
  height:100%;
  width:100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* center floating panel */
.panel{
  background-color:$color-lightest;
  position:relative;
  width:calc(100% - 120px);
  max-width:calc(100% - 80px);
  height:calc(100% - 200px);
  max-height:680px;
  overflow: hidden;

  transition: all 250ms;
  box-shadow: 4px 0px 20px rgba(0, 0, 0, .3);

  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;
  flex: 0 1 1440px;

  &:hover{
    background-color:$color-lightest;
    color:$brand-primary;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, .8);
  }
}

.imageBox{
  position:relative;
  display:inline-block;
  width:50%;
  height:100%;
  z-index: 1;
}

.detailsBox{
  background-color: $color-lightest;
  box-shadow: 2px 0px 10px rgba(50, 50, 50, .40);
  position:relative;
  display:inline-block;
  width:50%;
  z-index: 2;
}

.detail{
  padding:0 20px 20px 20px;
  color:$color-dark;

  &:first-child{
    padding-top:20px;
  }
}

.detailTitle{
  margin:0;
  font-size:18px;
  color:$brand-primary;
}

.detailTextBox{
  max-height:300px;
  overflow-y: scroll;
}

.close{
  position: absolute;
  display:inline-block;
  background-color: lighten($brand-primary, 40%);
  cursor:pointer;
  color:$color-lightest;
  top:0px;
  right:0px;
  height:40px;
  width:40px;
  text-align: center;
  font-size: 24px;
  z-index: 99;
  transition: background-color 150ms;

  &:hover{
    background-color: $brand-primary;
  }
}
