@import "~common/styles/base";

/*  Panel */
.container {
  composes: container;
}

.panel{
  composes: grid;
  background-color:$color-lightest;
  height: calc(100% - 200px);
  max-height: 680px;
  transition: all 350ms;
  box-shadow: 2px 0px 20px rgba(50, 50, 50, .3);
  opacity:.95;

  &:hover{
    opacity: 1.0;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, .8);
  }
}

/*  Image box - container for Viewer component */
.imageBox{
  composes: col_half;
  height: 100%;
  z-index: 1;

  @include breakpoint($mobile) {
    height: 50%;
  }

  @include breakpoint($tablet) {
    height: 50%;
  }
}

/*  details box */
.detailsBox{
  composes: col_half;
  height:100%;
  background-color: $color-lightest;
  box-shadow: 2px 0px 10px rgba(50, 50, 50, .40);
  z-index: 2;

  @include breakpoint($mobile) {
    height: 50%;
    overflow-y: scroll;
  }

  @include breakpoint($tablet) {
    height: 50%;
    overflow-y: scroll;
  }
}

.detail{
  padding:0 20px 20px 20px;
  color:$color-dark;

  &:first-child{
    padding-top:20px;
  }
}

.detailTitle{
  margin:0;
  font-size:18px;
  color:$brand-primary;
}

.detailTextBox{
  max-height:250px;
  overflow-y: scroll;

  @include breakpoint($mobile) {
    max-height:100%;
    overflow-y:auto;
  }

  @include breakpoint($tablet) {
    max-height:100%;
    overflow-y:auto;
  }
}

.close{
  composes: closeButton;
}
