// include breakpoint globally
@import "~common/../node_modules/breakpoint-sass/stylesheets/_breakpoint";

$mobile: screen max-width 787px;
$tablet: screen 788px 980px;
$desktop: screen 981px 1220px;
$widescreen: screen 1221px;

.fullscreen{
  position:fixed;
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}

.container {
  padding: 0;
  margin: 0;
  height:100%;
  width:100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;
}

.grid{
  align-items:flex-start;
  justify-content:space-around;
  flex-direction:column;
  flex-wrap:nowrap;
  position:relative;

  @include breakpoint($mobile) {
      width:calc(100% - 60px);
      max-width:580px;
  }

  @include breakpoint($tablet) {
      width:calc(100% - 80px);
      max-width:760px;
  }

  @include breakpoint($desktop) {
      width:calc(100% - 100px);
      max-width:1220px;

      display:flex;
      align-items:flex-start;
      justify-content:flex-start;
      flex-direction:row;
      flex-wrap: wrap;
  }

  @include breakpoint($widescreen) {
      width:calc(100% - 120px);
      max-width:1440px;

      display:flex;
      align-items:flex-start;
      justify-content:flex-start;
      flex-direction:row;
      flex-wrap: wrap;
  }

}

.col_half{
  position:relative;
  width:50%;
  display:inline-block;

  @include breakpoint($mobile){
    width:100%;
    display: block;
    clear:both;
  }

  @include breakpoint($tablet){
    width:100%;
    display: block;
    clear:both;
  }
}

.col_third{
  position:relative;
  width:33.33%;
  display:inline-block;

  @include breakpoint($mobile){
    width:100%;
    display: block;
    clear:both;
  }
}
