@import "~common/styles/variables";

// cant get composes: working, here
:global(.bignwide){
  position:fixed;
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}

:global(body){
  position:fixed;
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}

:global(html){
  position:fixed;
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}

:global(#app){
  background-image: url('/dist/images/desktop.v2.jpg');
  background-position: center center;
  background-size: cover;
  position:fixed;
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}

/* page layout */
.appLayout{
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
}

:global(.module-layout){
  position:relative;
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  z-index: 1;
}

:global(.page-title){
  position:absolute;
  display:inline-block;
  margin:auto;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  font-size:56px;
  line-height: 1em;
  height:1em;
  width:960px;
  text-align:center;
  color:white;
}
