$brand-primary: #d11e1e;
$brand-secondary: #f4f6d0;
$brand-tertiary: #03887c;

$color-lightest: #ffffff;

// :export { brandPrimary: $brand-primary; }
// :export { brandSecondary: $brand-secondary; }
