@import "~common/styles/variables";

.header{
  position:fixed;
  width:100%;
  top:0px;
  left:0px;
  z-index: 10;
}

.brand{
  position:absolute;
  top:0px;
  left:0px;
  padding:10px 15px 10px 10px;
  background-color:$brand-primary;
  box-shadow: 1px 1px 2px rgba(250, 250, 250, .1);
  max-width: 150px;
  cursor:pointer;
  transition: all 150ms;

  &:hover{
    background-color: lighten($brand-primary, 10%);
    box-shadow: 1px 1px 10px rgba(250, 250, 250, .5);
  }
}

.logo{
  max-width:100%;
  height:auto;
}

.navigation{
  position:absolute;
  top:0px;
  right:0px;
  z-index: 10;
}
