@import "~common/styles/base";

.header{
  position:fixed;
  width:100%;
  top:0px;
  left:0px;
  z-index: 10;
}

.brand{
  position:absolute;
  top:0;
  left:0;
  padding:10px 12px 8px 8px;
  background-color:$brand-primary;
  box-shadow: 1px 1px 2px rgba(50, 50, 50, .3);
  width: 150px;
  cursor:pointer;
  transition: all 350ms;

  &:hover{
    background-color: darken($brand-primary, 5%);
    box-shadow: 1px 1px 2px rgba(50, 50, 50, .5);
  }
}

.logoWhite{}

.navigation{
  position:absolute;
  top:0px;
  right:0px;
  z-index: 10;
}
