@import "~common/styles/base";

.viewerBox{
  background-color: lighten($brand-secondary, 10%);
  position:relative;
  height:100%;
  width:100%;
  overflow:hidden;
}

.viewerImageContainer{
  position: relative;
  height:inherit;
  width:inherit;

  display: flex;
  align-items: center;
  justify-content: center;
}

.viewerImage{
  border:20px solid lighten($brand-secondary, 10%);
  width:100%;
  height:auto;
}

.viewerDescription{
  display:none;
  position:absolute;
  background-color: $brand-primary;
  color:$color-lightest;
  font-weight:bold;
  font-size:18px;
  width:100%;
  left:0;
  bottom:60px;
  padding:15px;
  margin:0;
  opacity: 0.8;
}

.click{
  position:absolute;
  display:inline-block;
  background-color: $brand-secondary;
  color: $color-lightest;
  cursor: pointer;
  margin:auto 0;
  height:150px;
  width:40px;
  opacity:.7;
  padding:50px 10px;
  font-weight: bold;
  font-size:26px;
  text-align: center;
  transition: all 150ms;
  box-shadow: 2px 0px 10px rgba(50, 50, 50, .50);
  z-index: 10;

  &:hover{
    background-color: $color-lightest;
    color:$brand-primary;
    opacity: 1.0;
  }

  @include breakpoint($mobile) {
    padding:10px;
    margin:auto 0;
    width:40px;
    height:70px;
  }

  @include breakpoint($tablet) {
    padding:10px;
    margin:auto 0;
    width:40px;
    height:70px;
  }
}

.clickPrev{
  composes: click;
  top:0;
  bottom:0;
  left:auto;
  right:0;
}

.clickNext{
  composes: click;
  top:0;
  bottom:0;
  left:0;
  right:auto;
}
