@import "~common/styles/base";

/*  Panel */
.container {
  composes: container;
}

.panel{
  composes: grid;
  background-color:$color-lightest;
  height: calc(100% - 200px);
  max-height: 680px;
  transition: all 350ms;
  box-shadow: 2px 0px 20px rgba(50, 50, 50, .3);
  overflow: hidden;
  opacity:.9;

  &:hover{
    opacity: 1.0;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, .8);
  }

  @include breakpoint($mobile) {
    height: calc(100% - 120px);
    max-height: 100%;
  }

  @include breakpoint($tablet) {
    height: calc(100% - 120px);
    max-height: 100%;
  }

}

/*  brand box */
.brandBox{
  composes: col_half;
  height: 100%;

  background-color:$brand-primary;
  color:$color-lightest;
  display: flex;
  align-items:stretch;
  justify-content:center;
  flex-direction:column;
  text-align: center;
  transition: all 350ms;
  box-shadow: 2px 0px 5px rgba(50, 50, 50, .5);

  &:hover{
    background-color:$brand-secondary;
  }

  @include breakpoint($mobile) {
    height: 50%;
  }

  @include breakpoint($tablet) {
    height: 50%;
  }

}

.title{
  font-size:32px;
  color:inherit;
  margin:0 0 10px 0;
  text-shadow: 1px 0px 4px rgba(50, 50, 50, .2);

  @include breakpoint($widescreen) {
    font-size:48px;
  }
}

.subText{
  font-weight: bold;
  margin:0;
  text-shadow: 1px 0px 4px rgba(50, 50, 50, .2);
}

.bottomText{
  text-align: center;
}

/*  text box */
.textBox{
  composes: col_half;

  @include breakpoint($mobile) {
    height: 50%;
    overflow-y: scroll;
  }

  @include breakpoint($tablet) {
    height: 50%;
    overflow-y: scroll;
  }
}

.profilePicBox{
  margin:40px;
  text-align: center;
}

.profilePic{
  height:80px;
  width:80px;
  border-radius:50px;
  border:2px solid $color-lightest;
  box-shadow:2px 0 8px rgba(50,50,50,.3);
}

.projectText{
  position:relative;
  margin:40px;
  padding-bottom:20px;
}

.ul{
  list-style: none;
}

.li{
  display:inline-block;
  float:left;

  &:after{
    content: "  |  ";
  }

  &:last-child:after{
    content: "";
  }

}

/* button */
.workButton{
  composes: ghostButton;
  margin-top:30px;
}
