
.title{
  position:absolute;
  display:inline-block;
  margin:auto;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  font-size:56px;
  line-height: 1em;
  height:1em;
  width:250px;
  text-align:center;
  font-color:white;
  font-family: arial
}
