@import "~common/styles/variables";

.container {
  padding: 0;
  margin: 0;
  height:100%;
  width:100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;
}

.panel{
  background-color:$brand-primary;
  color:$color-lightest;
  cursor:pointer;
  position:relative;
  width:calc(100% - 200px);
  height:400px;
  max-width:calc(100% - 80px);
  transition: all 500ms;
  box-shadow: 2px 0px 20px rgba(50, 50, 50, .3);

  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  flex: 0 1 1440px;

  &:hover{
    background-color:$color-lightest;
    color:$brand-primary;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, .8);
  }
}

.panelInner{
  position:absolute;
  width:100%;
  margin:auto;
  top:0px;
  bottom:0px;
  height:100px;
  text-align:center;
}

.title{
  font-size:56px;
  color:inherit;
  margin:0 0 10px 0;
  text-shadow: 1px 0px 4px rgba(50, 50, 50, .2);
}

.subText{
  color:$brand-primary !important;
  text-shadow: 1px 0px 4px rgba(50, 50, 50, .2);
  font-size: 18px;
  font-weight: bold;
  margin:0;
}

.bottomText{
  position:absolute;
  text-shadow: 1px 0px 4px rgba(50, 50, 50, .2);
  font-weight: bold;
  font-size:16px;
  bottom:10px;
  left:0;
  width:100%;
  text-align: center;
  color:inherit;
}
